body {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.container {
    max-width: 1400px;
    margin: 0;
    padding: 0;
}

/* HEADER */

.header {
    background-image: url("../images/header_obraz_2b.png");
    background-size: cover;
    height: 600px;
    .container {
        margin: 0;
        padding: 0;
        .navbar {
            z-index: 1;
            padding: 2px;
            display: flex;
            justify-content: center;
            .navbar-brand {
                display: none;
                color: #CCC;
                padding-left: 30px;
            }
            .logo {
                padding-left: 30px;
                padding-top: 20px;
                img {
                    width: 100px;
                    height: 40px
                }
                span {
                    color: #CCC;
                    font-size: 30px;
                }
            }
            .collapse {
                ul {
                    display: flex;
                    justify-content: space-between;
                    list-style-type: none;
                    padding-right: 30px;
                    li {
                        &:after {
                            content: '';
                            display: block;
                            margin: auto;
                            height: 1px;
                            width: 0px;
                            background: transparent;
                            transition: width .2s ease, background-color .2s ease;
                        }
                        &:hover:after {
                            width: 85%;
                            background: #CCC;
                        }
                        a {
                            color: #CCC;
                            text-decoration: none;
                            font-size: 20px;
                            padding-top: 20px;
                            padding-bottom: 2px;
                        }
                    }
                }
            }
        }
        .header-text {
            text-align: center;
            padding-top: 160px;
            animation: 1s ease-out 0s 1 slideInFromLeft;
            @keyframes slideInFromLeft {
                0% {
                    transform: translateX(-100%);
                }
                100% {
                    transform: translateX(0);
                }
            }
            .napis-gora {
                font-size: 60px;
                color: #FFF;
                font-weight: bold;
            }
            .napis-dol {
                font-size: 40px;
                font-family: 'Cabin Sketch', cursive;
                color: #CCC;
            }
        }
        .arrow {
            position: fixed;
            float: right;
            right: 30px;
            bottom: 30px;
            z-index: 1;
            i {
                color: #229024;
            }
        }
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .header {
        height: auto;
        .container {
            .navbar {
                flex-direction: column;  
                .navbar-brand {
                    padding-left: 30px;
                }
                .logo {
                    padding-left: 0;
                    padding-top: 30px;
                }
                #button {
                    margin-top: 60px;
                }
                .collapse {
                    ul {
                        padding-right: 0;
                    }
                }
            }
            .header-text {
                text-align: center;
                padding-top: 50px;
                padding-bottom: 20px;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        height: auto;
        .container {
            .navbar {
                flex-direction: column;               
                .navbar-brand {
                    padding-left: 30px;
                }
                .logo {
                    padding-left: 0;
                    padding-top: 30px;
                }
                #button {
                    margin-top: 60px;
                }
                .collapse {
                    ul {
                        padding-right: 0;
                    }
                }
            }
            .header-text {
                padding-top: 50px;
                padding-bottom: 30px;
                .napis-gora {
                    font-size: 35px;
                }
                .napis-dol {
                    font-size: 30px;
                }
            }
        }
    }
}

/* SECTION O MNIE */

.o-mnie {
    margin-top: 60px;
    margin-bottom: 90px;
    text-align: center;
    h1 {
        padding-top: 50px;
        margin-bottom: 10px;
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
    }
    p {
        font-size: 25px;
        color: #262626;
        font-family: 'Cabin Sketch', cursive;
    }
    .o-mnie-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
        img {
            max-width: 400px;
            width: 100%;
            height: 250px;
        }
        p {
            font-size: 14.5px;
            width: 400px;
            text-align: justify;
            padding-left: 10px;
            color: #262626;
            font-family: 'PT Mono', monospace;
            font-weight: bold;
        }
    }
}

@media(min-width: 767px) and (max-width: 991px) {
    .o-mnie {
        margin-top: 40px;
    }
}

@media (max-width: 767px) {
    .o-mnie {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        h1 {
            padding-top: 30px;
            margin-bottom: 10px;
            font-size: 35px;
            font-weight: bold;
            text-transform: uppercase;
        }
        p {
            font-size: 25px;
            color: #262626;
            font-family: 'Cabin Sketch', cursive;
        }
        .o-mnie-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 50px;
            img {
                max-width: 400px;
                width: 100%;
                height: 250px;
            }
            p {
                font-size: 14.5px;
                width: 400px;
                text-align: justify;
                padding: 10px 10px 0 10px;
                color: #262626;
                font-family: 'PT Mono', monospace;
                font-weight: bold;
            }
        }
    }
}

/* SECTION KARUZELA */

.karuzela {
    margin-top: 35px;
    padding-bottom: 90px;
    background-color: #262626;
    h1 {
        padding-top: 60px;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        color: #FFF;
    }
    p {
        text-align: left;
        padding: 30px;
        font-size: 20px;
        text-transform: uppercase;
        color: #FFF;
        font-weight: bold;
        text-align: center;
        span {
            color: #229024;
        }
        a {
            text-decoration: none;
            text-transform: none;
            margin-left: 12px;
            color: #FFF;
            &:hover {
                color: #229024;
            }
        }
    }
    .carousel-cell {
        background-size: cover;
        color: #FFF;
        padding-top: 100px;
        width: 85%;
        height: 440px;
        margin: 0 auto;
        counter-increment: carousel-cell;
        border-radius: 20px;
        .content {
            background-color: #262626;
            color: #FFF;
            width: 60%;
            text-align: center;
            margin: 0 auto;
            border-radius: 10px;
            opacity: 0.7;
            @keyframes buttonPulse {
                0% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1.05);
                }
                100% {
                    transform: scale(1);
                }
            }
            h2 {
                &:hover {
                    animation: buttonPulse 1s infinite;
                }
                a {
                    color: #FFF;
                    text-decoration: none;
                    &:hover {
                        color: #229024;
                    }
                }
            }
        }
    }
    .projekty {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        transition: .2s;
        text-decoration: none;
        padding-top: 40px;
        color: #FFF;
        font-weight: bold;
        font-size: 20px;
        &:hover {
            text-decoration: none;
            color: #229024;
        }
    }
}

@media (max-width: 767px) {
    .karuzela {
        padding-bottom: 70px;
        p {
            padding: 5px;
            margin-right: 5px;
            margin-left: 5px;
            font-size: 17px;
        }
        .carousel-cell {
            width: 100%;
            .content {
                width: 70%;
            }
        }
        .projekty {
            text-align: center;
            padding-left: 6px;
            padding-right: 6px;
            font-size: 15px;
        }
    }
}

/* SECTION KONTAKT */

.kontakt {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url("../images/kontakt_background.jpg") center cover;
    
    h1 {
        text-transform: uppercase;
        font-size: 50px;
        text-align: center;
        font-weight: bold;
    }
    p {
        text-align: center;
        font-weight: bold;
    }
}

@media (max-width: 767px) {
    .kontakt {
        padding-top: 20px;
    }
}

/* FOOTER */

.footer {
    background-color: #262626;
    padding-top: 20px;
    padding-bottom: 20px;
    p {
        text-align: center;
        color: #FFF;
        margin: 0;
        i {
            color: #229024;
        }
    }
}